*.swp
build/
**/doctrees/

# LaTeX
*.aux
*.log
*.out
*.toc

# autoconf
aclocal.m4
autom4te.cache/
Makefile.in
build-aux/
configure
Makefile
config.log
config.status
install-sh
missing
/*.4ct
/*.4tc
/*.aux
/*.css
/*.dvi
/*.html
/*.idv
/*.lg
/*.log
/*.tmp
/*.xref
