
/* 001-mhawkins-cv.css from 001-mhawkins-cv.tex (TeX4ht) */

.jumbotron{
  background-image: url("file:///home/user/Development/github/resume/docs/img/neon.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position-y: -200px;
}

html body {
  background-color: black;
  color: white;
}

/* set the default style */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

.titleHead {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: xxx-large;
  font-weight: bold;
  color: magenta;
}
/* Section headers */
.sectionHead {
  font-weight: bolder;
  color: magenta;
}

.subsectionHead {
  width: 100%;
  font-size: larger;
  color: royalblue;
}

a:link {
  color: royalblue;
  transition: all .2s ease-in;
}

a:hover {
                                                                  

                                                                  
  color: magenta;
}

.page-header {
  overflow: hidden;
  margin-top: 10pt;
  padding: 5px 20px;
  width: 100%;


  float: left;
}

#sec-1\.1, #sec-1\.2, #sec-1\.3 {
  margin: auto;
}

p {
  margin-bottom: 0px;
  text-align: justify;
  text-justify: inter-word;
  color: white;
}

#sec-3 h4{
  display: inline;
  width: auto;
  margin-right: 10px;
}
#sec-3\.1.row {
  text-align: right;
}

@media only screen and (min-width: 600px){

  /* Three column layout */
  #sec-1\.1, #sec-1\.2, #sec-1\.3 {
    flex: 0 0 33%;
    max-width: 33%;
    float: left;
  }

  /* Two column layout */
  #sec-2, #sec-3 {
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
  }

  #sec-5 .row {
                                                                  

                                                                  
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
  }

  #sec-5\.1, #sec-5\.3 {
    clear:left;
  }




}

    
